
/* Your CSS Code here. */
.holder{
	display: flex;
	background-color: blue;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.holder>div{
	margin: 10px;
	padding: 10px;
	background-color: white;
	width: 100px;
	text-align: center;
	line-height: 50px;
  font-size: 20px;
}
